body{
              font-family: 'Gulzar', serif;
              font-family: 'Poppins', sans-serif;
              background-image: url(images/donation9.jpg);
              height: 100%;
              background-repeat: no-repeat;
              background-size: cover;
              
}
.header{
              text-align: center;
              color: beige;
              position: absolute;
              top: 40%;
              left: 50%;
              transform: translate(-50%, -50%);
}
.para-header{
              text-align: center;
              color: navajowhite;
              position: absolute;
              top: 60%;
              left: 50%;
              transform: translate(-50%, -50%);
}
.link-button{
              text-decoration: none;
              background-image: linear-gradient(orange, tomato);
              padding: 10px 10px;
              color: white;
              font-weight: 600;
              border-radius: 5px;
              position: absolute;
              top: 80%;
              left: 50%;
              transform: translate(-50%, -50%);
}
